
<app-header></app-header>

<div class="container">
    <h1 style="color: rgb(255, 175, 54);" class="p-3"> Wishlist</h1>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-centern" *ngIf="wishItems.length>0 else elsewish">
        <div class="col mb-5" *ngFor="let i of wishItems" >
            <div class="card h-100" >
                <!-- Product image-->
                <img routerLink="/detail/{{i.id}}" style="cursor: pointer" class="card-img-top"
                    src="{{i.image}}" alt="..." height="230px" width="100px" />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{i.title}}</h5>
                        <!-- Product price-->
                        {{i.price}}
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent d-flex justify-content-between">
                    <button class="btn" (click)="removeWishlist(i._id)"> <i class="fa-solid fa-heart-circle-minus fa-lg" style="color: #f01919;"></i></button>
                    <button class="btn" (click)="addCart(i)"> <i class="fa-solid fa-cart-plus fa-lg" style="color: #17b003;"></i></button>
                </div>
            </div>
        </div>
    </div>
    <ng-template #elsewish>
        <h1 class="text-danger text-center">No wishlist iten added yet</h1>
    </ng-template>
</div>